<% layout("/layouts/bollerplate.ejs") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h3>Edit Listings</h3>
                <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="Listing[title]" value="<%= listing.title %>" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" name="Listing[description]"
                            class="form-control"><%=  listing.description  %></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image Link</label>
                        <input type="text" name="Listing[image]" value="<%= listing.image %>" class="form-control">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="Listing[price]" value="<%= listing.price %>"
                                class="form-control">
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="Listing[country]" value="<%= listing.location %>"
                                class="form-control">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">location</label>
                        <input type="text" name="Listing[location]" value="<%= listing.country %>" class="form-control">
                    </div>
    
                    <button type="submit" class="btn btn-grn">Edit</button><br><br>
            </div>
        </div>
        </form>
    </body>