<% layout("/layouts/bollerplate.ejs") %>
<body>
    <h3>Edit Listings</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <input type="text" name="Listing[title]" value="<%= listing.title %>"><br><br>
        <textarea type="text" name="Listing[description]"><%= listing.description  %></textarea><br><br>
        <input type="text" name="Listing[image]" value="<%= listing.image %>"><br><br>
        <input type="number" name="Listing[price]" value="<%= listing.price %>"><br><br>
        <input type="text" name="Listing[location]" value="<%= listing.location %>"><br><br>
        <input type="text" name="Listing[country]" value="<%= listing.country %>"><br><br>
        <button type="submit">Edit</button><br><br>

    </form>
</body>