<% layout("/layouts/bollerplate.ejs") %>

    <body>
        <h3>Listings Details : </h3>
        <div class="row">
            <div class="col-8"><br>
                <li>
                    <b>
                        <%= listing.title %>
                    </b>
                </li><br>
                <div class="card col" style="width: 40rem;">
                    <img src="<%- listing.image %>  " class="card-img-top" style="height: 25rem;" alt="Listing image">
                    <div class="card-img-overlay">abc</div>
                    <div class="card-body">
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            <div class="col-4 m-top-4">
                <li>
                    <%= listing.description %>
                </li>
                <li>&#8377 <%= listing.price.toLocaleString("en-IN") %>
                </li>
                <li>
                    <b>Location : </b><%= listing.location%>
                </li>
                <li>
                   <b>Country : </b> <%= listing.country %>
                </li><br>
                <a href="/listings/<%= listing._id %>/edit" >Edit listings</a>
                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE"><br>
                    <button class="btn btn-red">Delete this listings</button>
                </form>
            </div>
        </div>
    </body>